.main {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* Main Categoriya Styles */
.mainCategoriya {
  width: 100%;
  height: 120px;
  border-bottom: 2px solid #ccc;
}
.mainCp {
  margin: 0 auto;
  width: 120px;
  color: green;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.mainCUl {
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Main Categoriya Styles end */

/* Main Item or Products Styles */

.mainItem {
  margin: 0 auto;
  width: 85%;
  height: 100%;
  border: var(--border);
}
.mainItemH1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  border: var(--border);
}
.mainIP {
  width: 100%;
  display: grid;
  border: var(--border);
  grid-template-columns: auto auto auto auto;
}

